* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-container{
    background-color: #DCDBD3;
    padding: 30px;
    height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    /* border: 4px solid blue; */
}

.innercontainer{
    background-color: #EAEAEA;
    border: 2px dashed red;
    display: flex;
    flex-direction: row;
}

.left-innercontainer{
    border: 3px solid rgb(0, 255, 255);
    width: 25%;
    height: 600px;
}

.right-innercontainer{
    border: 4px solid rgb(140, 120, 252);
    width: 75%;
    height: 600px;
}

.left-top-navbar,.right-top-navbar,.right-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    height: 80px;
}

.usercurrent{
    display: flex;
    align-items: center;
}

.left-notification{
    padding: 10px;
    background-color: #8EDAFC;
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* border: 2px solid rgb(128, 55, 0); */
}

.left-input-search{
    /* border: 2px solid rgb(128, 55, 0); */
    height: 70px;
}

i{
    color: #B1B1B1;
    margin: 5px;
}

#bell{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
}

.inputcontainer{
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.inputcontainer > input {
    width: 85%;
    border: 0;
    padding: 10px;
    outline: none;
}

.right-input-message> input{
    width: 100%;
    border-radius: 10px;
}

.right-main{
    background-image: url("../img/mine.jpg");
    border: 2px solid green;
    height: calc(600px - 160px);
}

.contactschat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

img{
    width: 100%;
    border-radius: 50px;
}

.contianeierimg{
    width: 30%;
}

#contianeierimgcurrentchat{
    height: 50px;
    width: 50px;
}

.left-chats-list{
    height: calc(600px - 220px - 5px);
    /* border: 2px solid salmon; */
    overflow-y: auto;
}

.active {
    background-color: #D5F9BB;
}


.sentcontainer {
    
    display: flex;
    width: 40%;
}

.msgsent{
    background-color: #D5F9BB;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.msgrecived{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: white;
}

