* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-container{
    background-color: #DCDBD3;
    padding: 30px;
    height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    border: 4px solid blue;
}

.innercontainer{
    background-color: #EAEAEA;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 500px;

}

.left-innercontainer{
    border: 3px solid red;
    width: 25%;
}

.right-innercontainer{
    border: 4px solid rgb(140, 120, 252);
    width: 75%;

}

.left-top-navbar,.right-top-navbar,.right-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
}

.left-notification{
    padding: 10px;
    background-color: #8EDAFC;
    display: flex;
    justify-content: space-between;
}

i{
    color: #B1B1B1;
    margin: 5px;
}

#bell{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
}

.inputcontainer{
    width: 100%;
    height: 55px;
    padding: 10px;
}

.inputcontainer > input {
    width: 85%;
    border: 0;
    padding: 7px;
    outline: none;
}

.right-input-message> input{
    width: 100%;
    border-radius: 10px;
}

.right-main{
    background-image: url("../img/mine.jpg");
    border: 2px solid green;
}

.contactschat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

